/****************************************************
* COMMON STYLES
****************************************************/

// GENERAL RULES
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text--default;
  font-family: $font--default;
  font-size: 14px;
  font-weight: 400;
}

a{
  text-decoration: none;
}
// MIXINS

// DisplayInline for ul list -- param: padding
@mixin u--list($display: inline-block,$padding: 0){
  li{
    list-style: none;
    display: $display;
    padding-right: $padding;
  }
}
// Flex Center -- param: direction
@mixin u--flex-center($direction: row){
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

// Custom Wrapper -- param: widh
@mixin u--wrapper($width: 100%){
  width: $width;
  margin: 0 auto;
}

// Button -- param: background and color
@mixin u--btn($bg,$color){
  @include u--flex-center;
  width: 100%;
  padding: 10px 15px;
  border-radius: 7px;
  background-color: $bg;
  color: $color;
  &--logo{
    height: 14px;
    margin-right: 5px;
  }
}

// Border bottom line -- param: width and color
@mixin u--bottom-line ($width: 100%,$color,$left: 0,$bottom: 0){
    content: '';
    position: absolute;
    bottom: $bottom;
    left: $left;
    height: 1px;
    width: $width;
    background-color: $color;
    opacity: 0.3;
}

// Main Section layout
@mixin u--main-section{
  background: $main--bg;
  &__wrapper{
    @include u--wrapper(90%);
  }

  &__hero{
    padding: 50px 0;
    text-align: center;
  }

  &__items{
    .item{
      @include u--flex-center(column);
      margin-bottom: 50px;
      &__logo{
      width: 100px;
      margin-bottom: 20px;
      }
      &__text{
        width: 200px;
        text-align: center;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
    .item--last{
      .item__logo{
        width: 300px;
      }
    }
  }
}