.footer{
  @include u--wrapper(90%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  &__left{
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    .footer__logo{
      img{
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
    }
    .footer__text{
      h4{
        font-weight: 600;
      }
      span{
        color: $btn--blue;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
  &__rigth{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .list{
      @include u--list(block);
      margin-right: 30px;
      margin-bottom: 30px;
      &__element{
        margin-bottom: 10px;
      }
      &__element--first{
        font-weight: 700;
        margin-bottom: 20px;;
      }
    }
  }
}

// Medium Device
@include tablet{
  .footer{
    &__left{
      width: 100%;
      margin-bottom: 50px;
    }
  }
}

// Large Device
@include desktop{
  .footer{
    &__left{
      width: 30%;
    }
  }
}