/****************************************************
* HEADER
****************************************************/

.header__wrapper{
  @include u--wrapper(90%);
}

// NAVBAR
.header-nav{
  @include u--flex-center;
  justify-content: space-between;
  position: relative;
  padding: 10px 0;
  &:after{
    @include u--bottom-line(calc(100vw + 10%),$text--default);
  }
}

// NAVBAR: Hamburger
.nav__hamburger--mobile{
  display: none;
  position: relative;
  .hamburger-list{
    @include u--list(list-item);
    margin-top: 30px;
    &__item{
      padding-bottom: 20px;
      font-weight: 600;
    }
  }
  .btn{
    @include u--btn(#fff,$btn--blue);
    border: 1px solid $btn--blue;
  }
  &:after{
    @include u--bottom-line(calc(100vw + 10%),rgba($text--default, 0.5));
    height: 3px;
    bottom: -20px;
  }
}

// JUMBOTRON
.header__jumbotron{
  margin-top: 100px;
}

.jumbotron__text{
  text-align: center;
  h3{
    margin: 30px 0;
  }
}

.jumbotron__cta{
  @include u--flex-center(column);

  .btn{
    @include u--btn($btn--blue,#fff);
    margin: 10px 0;
  }
  
  span{
    margin-top: 10px;
  }
}

.jumbotron__banner{
  &--logo{
    width: 100%;
    margin: 30px 0 50px 0;
  }
}

