/****************************************************
* MAIN
****************************************************/

.people{
  position: relative;
  @include u--main-section__lay-1;
}

.people__wrapper:after{
  @include u--bottom-line(100%,$text--default,0,-10px);
}

.solution{
  @include u--main-section__lay-1;
  .logo-custom{
    width: 60px;
  }
}

.feedback,
.reviews{
  @include u--main-section__lay-2;
}


.surveys,
.praise{
  @include u--main-section__lay-2(right);
}


// Medium Device
@media all and (min-width: 768px){
.people__items,
.solution__items{
  @include u--flex-center;
  flex-wrap: wrap;
  .item{
    margin-right: 50px;
  }
  }
}

// Large Device
@media all and (min-width: 1199px){
  .feedback,
  .surveys,
  .reviews,
  .praise{
    &__logo{
      img{
        max-width: 768px;
      }
    }
    &__wrapper{
      @include u--flex-center;
    }
    &__info{
      text-align: left;
    }
  }
}