/****************************************************
* MAIN
****************************************************/

.people{
  position: relative;
  background: $main--bg;
  @import 'partials/section-1';
  &__wrapper:after{
    @include u--bottom-line(100%,$text--default,0,-10px);
  }
}

.solution{
  background: $main--bg;
  @import 'partials/section-1';
  .logo-custom{
    width: 60px;
  }
}

.feedback,
.reviews{
  margin-top: 50px;
  background: $white;
  @import 'partials/section-2';
}

.surveys,
.praise{
  margin-top: 50px;
  background: $white;
  $side: right;
  @import 'partials/section-2';
}

.get-started{
  text-align: center;
  padding-top: 70px;
  background-color: $main--bg;
  @import 'partials/section-3';
  &__wrapper{
    @include u--wrapper(90%);
  }
}


// Medium Device
@include tablet{
.people__items,
.solution__items{
  @include u--flex;
  flex-wrap: wrap;
  .item{
    margin-right: 50px;
  }
  }
}

// Large Device
@include large-desktop{
  .feedback,
  .surveys,
  .reviews,
  .praise{
    &__logo{
      img{
        max-width: 768px;
      }
    }
    &__wrapper{
      @include u--flex;
    }
    &__info{
      text-align: left;
    }
  }

  .get-started{
    &__wrapper{
      max-width: 628px;
    }
    &__cta{
      @include u--flex;
      flex-wrap: wrap;
      .btn{
        width: 200px;
      }
      h5{
        margin: 0 20px;
      }
      span{
        text-align: center;
      }
    }
  }
}