/****************************************************
* VARIABLES
****************************************************/

// COLORS
$text-color__default: #4E3D1E;
$btn-color__blue: #2e4691;
$main-bg: #ffe7d2;

// TYPOGRAPHY
$main-font: 'Open Sans', sans-serif;


// SETUP